@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html{
scroll-padding-top:5rem;
scroll-behavior:smooth;
}

body{
background:white;
overflow-x:hidden;
transition:0.3s;
}

.dark body{
background:#020617;
color:white;
}